.container{
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
    height: 100vh;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #DADADA;
}

.header span {
    cursor: pointer;
}

.backButton:hover{
color: #37AFFF;
}

.infosBox{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin: 20px 10px 20px 10px;
}

.infosSubBox{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
}

.infoBoxKeyname{
    font-weight: 600;
    margin-right: 10px;
}

.logsBox{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 7vh;
    justify-content: space-between;
    margin-left: 15px ;
    padding-right: 80px;
    border-top: 2px solid #DADADA;
}

.logsListTitle{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    border-bottom: 2px solid #DADADA;
}

.logs{
    height: 55%;
}

.logsListItems{
    overflow: scroll;
    height: 100%;
}

.logsItem{
    border-bottom: 1px solid #DADADA;
    align-items: center;
    display: flex;
    height: 6vh;
    justify-content: space-between;
}

.reactionLabel {
    height: 1vh;
}

.logsSubItem{
    width: 25vw;
    justify-content: center;
    text-align: center;
}

.reactions{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.emojis{
    display: flex;
    height: 1vh;

}