.container{
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
    height: 100vh;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #DADADA;
}

.header span {
    cursor: pointer;
}

.backButton:hover{
color: #37AFFF;
}

.infosBox{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin: 20px 10px 20px 10px;
}

.infosSubBox{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
}

.infoBoxKeyname{
    font-weight: 600;
    margin-right: 10px;
}

.logsBox{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    border-top: 2px solid #DADADA;
}

.logsListTitle{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.logs{
    height: 55%;
}

.logsListItems{
    overflow: scroll;
    height: 100%;
}

.logsItem{
    border-top: 1px solid black;
    display: flex;
    height: 6vh;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.logsSubItem{
    width: 25vw;
    justify-content: center;
    text-align: center;
}