.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #183153;
}

.configcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px #DADADA solid;
  height: 90vh;
  width: 50vw;
  overflow-y: auto;
}

.configheading {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.maintitle {
  margin: 0;
  padding: 0;
  padding-left: 2vw;
}

.sectionparagraph {
  margin-top: 0.5vh;
  margin-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.alertstablecontainer {
  display: flex;
  flex-direction: column;
}

.alertstablecontainer table {
  font-family: inherit;
  border-collapse: collapse;
  width: 100%;
}

.paddedelements {
  padding-left: 2vw;
}

.alertstablecontainer td,
.alertstablecontainer th {
  border: 1px solid #DADADA;
  text-align: left;
  padding-bottom: 3.2vh;
  padding-top: 3.2vh;
  border-left: none;
  border-right: none;
}

.alertstablecontainer th {
  font-weight: normal;
}

.delete {
  padding-left: 1vw;
  cursor: pointer;
}

.edit {
  cursor: pointer;
  padding-left: 0.5vw;
}

.alertstablecontainer button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: inherit;
  font-size: inherit;
  color: #37AFFF;
  cursor: pointer;
}

.alertstablecontainer button:hover {
  background: none;
  text-decoration: underline;
}

.configfooter {
  display: flex;
  flex-direction: column;
}

.helpsection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20vh;
  padding-bottom: 5vh;
  padding-right: 5vh;
}

.helptext {
  cursor: pointer;
}

.helpicon {
  display: flex;
  font-size: 2.5vw;
  padding-left: 1vw;
  cursor: pointer;
}