@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.ant-modal .ant-modal-title{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.btn{
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  border: none;
  color: white;
  width: 80px;
  cursor: pointer;
}

.btnWhite{
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  color: #303030;
  border: 1px solid #DADADA;
  width: 80px;
  background-color: white;
  cursor: pointer;
}

.bgRed{
  background-color: #D83C38;
}

.bgGreen{
  background-color: #2D8647;
}

.bgGray{
  background-color: #D9D9D9;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px; 
  height: 20px; 
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; 
  width: 16px;
  left: 2px; 
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #228B22;
}

input:focus + .slider {
  box-shadow: 0 0 1px #228B22;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px); 
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.toggle {
  margin-top: 3%;
}