@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.ant-modal .ant-modal-title{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.btn{
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  border: none;
  color: white;
  width: 80px;
  cursor: pointer;
}

.btnWhite{
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  color: #303030;
  border: 1px solid #DADADA;
  width: 80px;
  background-color: white;
  cursor: pointer;
}

.bgRed{
  background-color: #D83C38;
}

.bgGreen{
  background-color: #2D8647;
}

.bgGray{
  background-color: #D9D9D9;
}